version: '3'

# This docker-compose is for developer convenience, not for running in production.

services:

  # Arangodb server in cluster mode
  arangodb:
    image: arangodb:3.9
    ports:
      - "127.0.0.1:8529:8529"
    command: sh -c "arangodb --starter.local"
